.container {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #F6F6F6;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;

}

.button:hover {
  opacity: 0.8;
}