.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background: #F6F6F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;

}

.button:hover {
    opacity: 0.8;
}