:root {
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}