.container {
  max-width: 1000px;
  margin: 0 auto;
}
.title {
        margin-top: 70px;
    margin-bottom: 50px;
     text-align: center;
color: #000;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.description{
    margin-bottom: 10px;
color: #424242;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
 text-align: center;
}