.container {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  margin-bottom: 50px;
}

.title {
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}