.container {
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper {
  margin-bottom: 50px;
}
.title {
        margin-top: 70px;
    margin-bottom: 70px;
     text-align: center;
color: #000;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.description{
    margin-bottom: 20px;
color: #424242;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 26px;
 text-align: center;
}
.svg{
  margin-bottom: -5px;
}