.link {
  color: #000;
  display: grid;
  place-content: center;

  --size: 60px;
  width: var(--size);
  height: var(--size);
}

.active {

  border-radius: 50%;
  background-color: rgba(85, 138, 96, 0.25);
}