.description {
    margin-bottom: 20px;
    color: #424242;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.svg {
    margin-bottom: -5px;
}