.wrapper {
    margin: 35px;
}


.div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 168px;
    border-radius: 15px;
    background: #F6F6F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    padding: 8px;

}

.div:hover {
    opacity: 0.8;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.description {
    display: flex;
    justify-content: start;
    align-items: center;
}

.svg {
    padding-left: 10px;
    padding-right: 3px;
}

.p {
    color: #868686;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img {
    width: 100%;

    border-radius: 15px;

}


.h {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}