.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 15px;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: auto;
    border-radius: 15px;
    background: #F6F6F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    padding: 8px;

}

.div:hover {
    opacity: 0.8;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 5px 5px;
}


.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.svg {
    padding: 0;
    padding-right: 2px;
    position: relative;
    top: 0.1rem;
    left: -0.1rem;
}

.p {
    width: auto;
    color: #868686;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 5px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 15px;

}

.link {
    text-decoration: none;
}

.time {
    width: auto;
    background-color: rgba(150, 163, 153, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 1px 7px;
    border-radius: 15px;
}

.category {
    background-color: rgba(216, 232, 219, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 1px 7px;
    border-radius: 15px;
}